<button class="logout-button" (click)="logout()">Logout</button>

<div class="user-profile">
  <p>Welcome, {{ user.name }}</p>
  <p>Email: {{ user.email }}</p>
</div>

<div class="container">
  <h2>My Property Listings</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Property Name</th>
        <th>Dimension (sq ft)</th>
        <th>Location</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of properties">
        <td>{{ property.propertyName }}</td>
        <td>{{ property.propertyDimension.squarefeet }}</td>
        <td>{{ property.location.city }}, {{ property.location.state }}, {{ property.location.country }}</td>
        <td>{{ property.price }}</td>
        <td>
          <div class="task-icons">
            <button class="edit-icon" (click)="editProperty(property)">  
              <i class="fa fa-edit"></i>
            </button>
            <button class="delete-icon" (click)="deleteProperty(property._id)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="addNewProperty()" routerLink="/add-property">Add New Property</button>
</div>