<button class="logout-button" (click)="logout()">Logout</button>

<div class="user-profile">
  <p>Welcome, {{ user.name }}</p>
  <p>Email: {{ user.email }}</p>
</div>

<div class="container">
  <h2>My Property Listings</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Property Name</th>
        <th>Dimension (sq ft)</th>
        <th>Location</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of properties">
        <td>{{ property.propertyName }}</td>
        <td>{{ property.popertyDimension.squarefeet }}</td>
        <td>{{ property.location.city }}, {{ property.location.state }}, {{ property.location.country }}</td>
        <td>{{ property.price }}</td>
        <td>
          <div class="task-icons">
            <button class="edit-icon" (click)="editProperty(property)">  
              <i class="fa fa-edit"></i>
            </button>
            <button class="delete-icon" (click)="deleteProperty(property._id)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="addNewProperty()" routerLink="/add-property">Add New Property</button>
</div>

<div class="container">
  <h2>Buy Requests</h2>
  <button class="button is-success has-text-white" (click)="getBuyRequests()">Get Buy Requests</button>
  <table class="table">
    <thead>
      <tr>
        <th>Property Name</th>
        <th>Buyer Name</th>
        <th>Buyer Email</th>
        <th>Price</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let req of buyRequests">
        <td>{{ req.propertyId.propertyName }}</td>
        <td>{{ req.name }}</td>
        <td>{{ req.email }}</td>
        <td>{{ req.price }}</td>  
        <td>{{ req.status }}</td>
        <td>
          <div class="task-icons" *ngIf="req.status === 'pending'">
            <button class="approve" (click)="updateReqStatus(req._id,'approved')">  
              <i class="fa-solid fa-check"></i>
            </button>
            <button class="reject" (click)="updateReqStatus(req._id, 'rejected')">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>