<button class="logout-button" (click)="logout()">Logout</button>
<br>
<div class="user-profile">
  <p>Welcome, {{ user.name }}</p>
  <p>Email: {{ user.email }}</p>
</div>
<br>
<hr>
<div>
  <input type="text" placeholder="Enter City" [(ngModel)]="searchCriteria.city">
  <input type="number" placeholder="Min Price" [(ngModel)]="searchCriteria.minPrice">
  <input type="number" placeholder="Max Price" [(ngModel)]="searchCriteria.maxPrice">
  <input type="number" placeholder="Min Size (sqft)" [(ngModel)]="searchCriteria.minSize">
  <input type="number" placeholder="Max Size (sqft)" [(ngModel)]="searchCriteria.maxSize">
  <button (click)="filterProperties()">Search</button>
</div>

<hr>
<div *ngFor="let property of fProperties; let i = index" class="property-card">
  <h2><b>{{ i + 1 }}. {{ property.propertyName }}</b></h2>
  <p><b>Location:</b> {{ property.location.city }}, {{ property.location.state }}, {{ property.location.country }}</p>
  <p><b>Dimension:</b> {{ property.popertyDimension.squarefeet }} sqft</p>
  <p><b>Price:</b> ₹{{ property.price }}</p>
  <p><b>Owner:</b> {{ property.owner?.ownerName || 'Unknown Owner' }}</p>
  
  <div *ngIf="property.propertyImage">
    <img [src]="property.propertyImage" alt="Property Image" width="200">
  </div>  

  <button (click)="buyProperty(property.owner.ownerId,user._id,property._id)" >Buy Property</button>
  
  <hr> 
</div>
