.user-profile {
    position: absolute;
    height: 70px;
    padding: 10px;
    top: 10px;
    right: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    color: #333;
  }